h1 {
    text-align: center;
    color: violet;
}

h1, li {
    font-family: sans-serif, Helvetica, "Times New Roman";
}

#aglio {
    background-color: red;
}

.recipes {
    font-size: 18px;
}

h3 {
    color: red;
}